{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<h2>Welcome, {{ user.username }}!</h2>
{% else %}
<h2>Login Here: </h2>
<h2>Or Register Here: </h2>
{% endif %}
<a class="add_habit" href="{% url 'add_habit' %}"><button class="add_habit_button">Add New Habit</button></a>
<div class="habit_box">
{% for habit in habit %}

{% if habit.good_or_bad == "Good" %}
<a class="habit" href="{% url 'habit_detail' habit.id %}"><button class="habit-button">{{habit}}</button></a>
{% else %}
<a class="habit bad-habit" href="{% url 'habit_detail' habit.id %}"><button class="habit-button bad-habit-button">{{habit}}</button></a>
{% endif %}


{% endfor %}
<div class="observing">
    <h2>Friends Habits</h2>
    {% for observer in observers %}
    
        {% if observer.good_or_bad == "Good" %}
            <a class="habit" href="{% url 'habit_detail' observer.id %}"><button class="habit-button">{{observer}}</button></a>
        {% else %}
            <a class="habit bad-habit" href="{% url 'habit_detail' observer.id %}"><button class="habit-button bad-habit-button">{{observer}}</button></a>
        {% endif %}
    {% endfor %}
</div>

</div>
{% endblock %}