
/*------------------HEADER-------------------*/
header {
background-color: rgb(120, 174, 213);
display:flex;
justify-content: space-between;
}

.logo{
    margin: 10px;
    padding-left: 10px;
}

.title{
}

.account_button{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.block-div{
    margin-top: 10px;
    padding-left: 10px;
    border: solid
}

/*----------------MAIN PAGE--------------------*/


.habit_box {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    transition-delay: 2s;
}

.habit-button, .add_habit_button, .tracker_detail_button, .edit_button, .delete_button, .add_tracker_button {
    font-weight: bold;
    font-size: larger;
    background-color: greenyellow;
    border: none;
    min-width: fit-content;
    min-height: fit-content;
    width: 10rem;
    height: 4rem;
    transition: all 0.33s ease-out;
}

.bad-habit-button{
    background-color: pink;
}

.add_habit_button, .edit_button, .delete_button, .add_tracker_button {
    background-color: rgb(106, 106, 247);
    width: 6rem;
    height: 3rem;
    min-width: 9rem;
}

.add_habit_button:hover, .edit_button:hover, .delete_button:hover{
    background-color: blue;
    transition: all 0.33s ease-in;
}

.add_tracker_button{
    background-color: purple;
}

.habit-button:hover, .add_habit_button:hover, .tracker_detail_button:hover, .add_tracker_button:hover {
    background-color: green;
    transition: all 0.33s ease-in;
}

.bad-habit-button:hover{
    background-color: deeppink;
}

/*---------------------Tracker Page-------------*/
.tracker-div{
    padding-bottom: 10px;

}

.tracker-list-div{
    display: flex;
    padding: 30px;
}